.span-icon-right{
    text-align: right;
    float: right;
}
.span-i-icon-right{
    margin-left: 8px;
}
.full-height-ibox{
	margin-bottom: 0px;
	height: 100%;
}
.full-height-ibox .ibox-content{
	height:calc(100% - 49px);
}
.full-height-wrapper{
	padding: 20px;
}
.skin-1 .wrapper-content2 {
  padding: 30px 15px;
}
.fh-column-w{
	width: 340px;
}
.icheckbox_minimal-blue, .iradio_minimal-blue{
	margin-top: -3px;
}
.margin-padding-0{margin: 0px;padding: 0;}
.relative-ibox-content{position: relative;}
.relative-ibox-content .form-actions{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
}
.f5-bg{
	background-color: #f5f5f5;
}
.padding-20{
	padding:20px;
}
.form-actions.right{
	text-align: right;
	padding: 10px 20px 5px 20px;
}
.form-actions.center{
	text-align: center;
	padding: 10px 20px 5px 20px;
}
.relative-ibox-content form{padding-bottom: 55px;}
